<p style="color: green"><%= notice %></p>

<div>
  <h2>Profile page</h2>
  <ul>
    <li>Name: <%= @profile.name %></li>
    <li>Age: <%= @profile.age %></li>
    <li>Email: <%= @profile.email %></li>
    <li>Favourite Color: <%= @profile.fav_color %></li>
  </ul>
  <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <%= link_to "Back to profiles", profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete %>
</div>
