<p style="color: green"><%= notice %></p>

<% if @profile.cv.key %>
  <a href=<%= cl_image_path(@profile.cv.key) %>, target="_blank">CV</a>
<% end %>

<div>
  <%= link_to "Back", profiles_path %>
  <h2>Profile page</h2>
  <ul>
    <li>Name: <%= @profile.name %></li>
    <li>
      <% if @profile.photo.key %>
        <%= cl_image_tag @profile.photo.key, width: 400, height: 300, crop: :fill %>
      <% end %>
    </li>
    <li>Age: <%= @profile.age %></li>
    <li>Email: <%= @profile.email %></li>
    <li>Favourite Color: <%= @profile.fav_color %></li>
    <li>Number of Books: <%= @profile.books.count %></li>
  </ul>
  <%= link_to "Edit this profile", edit_profile_path(@profile) %>
  <%= button_to "Destroy this profile", @profile, method: :delete %>
  <br>

  <% if @profile.books %>
    <h2>Book Collection</h2>
    <ul>
      <% @books.each do |book| %>
        <li>
          <%= book.title %>, published in <%= book.year %> |
          <%=
            link_to 'Delete',
            book_path(book),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "Add a new book",  new_profile_book_path(@profile) %>
  <br>

  <% if @profile.testimonials %>
    <h2>Testimonials</h2>
    <ul>
      <% @testimonials.each do |testimonial| %>
        <li>
          <%= testimonial.content %> |
          <%=
            link_to 'Delete',
            testimonial_path(testimonial),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to 'Write a testimonial', new_profile_testimonial_path(@profile)%>

</div>
